# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# Extension specific
*.crx
*.pem
*.zip
extension/build/
extension/dist/

# Environment variables
.env
.env.local

# Local development config
config.local.js
.cursorignore
